@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Reem+Kufi+Ink&display=swap");
.card__outer {
  background-color: #d5f2e3;
  border-radius: 50px;
  flex: 1;
  aspect-ratio: 3/5;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", "sans-serif";
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
}

.card__bgImg {
  width: 100%;
  height: 20%;
  object-fit: cover;
  object-position: top;
  border-radius: 50px 50px 0 0;
}

.avatar {
  display: block;
  position: relative;
  top: -100px;
  overflow: visible;
  width: 100%;
  height: 200px;
}

.avatar_image {
  aspect-ratio: 1;
  width: 200px;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  position: relative;
  top: -100px;
  align-items: center;
  padding: 1rem 9%;
  gap: 0.5rem;
}

.card__user {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading {
  font-style: normal;
  font-weight: 800;
  line-height: 29px;
  font-size: 1.5em;
  margin: 0;
}

.card__job {
  font-style: normal;
  font-weight: 500;
  font-size: 1.7142857143rem;
  line-height: 29px;
  margin: 0;
}

.stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.7rem;
  width: 100%;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.stack__item {
  border-radius: 8px;
  color: #fff;
  background-color: #003E1F;
  flex: 1;
  text-align: center;
  padding: 0.4rem 0.5rem;
  text-transform: uppercase;
  font-family: "Inter", "sans-serif";
  font-style: normal;
  font-size: 1.7142857143rem;
  line-height: 24px;
}

.card__description {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 24px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 1rem;
}

.links {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  opacity: 0;
  pointer-events: none;
  cursor: initial;
}

.links__item {
  filter: drop-shadow(0px 3px 3px #333);
}

.links__item:hover {
  filter: brightness(0.1);
}

.card_secondary {
  filter: brightness(75%);
  flex: 0.9;
  aspect-ratio: 2/3;
  cursor: pointer;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .card__outer {
    height: 100%;
    max-width: 60vw;
    border-radius: 25px;
  }
  .card__bgImg {
    border-radius: 25px 25px 0 0;
  }
  .card__info {
    font-size: 1.1rem;
    justify-content: space-around;
  }
  .card__user {
    width: 100%;
  }
  .stack {
    grid-template-columns: repeat(2, 1fr);
  }
  .stack__item {
    font-size: 1em;
    padding: 0.3em 0.2em;
  }
  .card__info {
    top: calc(-100px + 5vw);
  }
  .card__description {
    padding: 0;
  }
}
@media only screen and (max-width: 760px) {
  .card__outer {
    height: 90%;
    max-width: 70vw;
  }
  .card__info {
    font-size: 1rem;
    padding: 0.25rem 2rem;
    top: -108.1081081081px;
  }
  .card__user {
    width: 100%;
  }
  .stack {
    grid-template-columns: repeat(2, 1fr);
  }
  .stack__item {
    font-size: 1em;
    padding: 0.3em 0.2em;
  }
  .card__bgImg {
    height: 15%;
  }
  .avatar {
    max-height: 30%;
  }
}
.card__outer_dark {
  background-color: #DABFFF;
}

.stack__item_dark {
  background-color: #907AD6;
}

