@use "sass:math";
@use "sass:string";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Reem+Kufi+Ink&display=swap');

$radius: 50px;
$bg-color: #d5f2e3;
$contrast-bg-color: #003E1F;
$font: 'Montserrat', 'sans-serif';
$heading-size: string.unquote("#{math.div(24, 14)}rem");
$avatar-size: 200px;

.card__outer {
  background-color: $bg-color;
  border-radius: $radius;
  //min-height: 70vh;
  //width: math.div(70vh, 3) * 2;
  min-height: 600px;
  width: 400px;
  cursor: pointer;

  .card {
    min-height: math.div(70vh, 100) * 30;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: $font;

    .card__bgImg {
      width: 100%;
      height: math.div(70vh, 100) * 30;
      object-fit: cover;
      object-position: top;
      border-radius: $radius $radius 0 0;
    }

    .avatar {
      display: block;
      position: relative;
      top: math.div($avatar-size, -2);
      overflow: visible;
      width: 100%;
      height: $avatar-size;
    }


    .avatar::after {
      content: url("../../imgs/hat1.svg");
      position: relative;
      top: -285px;
      left: 75px;
    }

    .avatar_image {
      aspect-ratio: 1;
      width: $avatar-size;
    }



    .card__info {
      display: flex;
      flex-direction: column;
      position: relative;
      top: math.div($avatar-size, -2);
      align-items: center;
      padding: 1rem 9%;
      gap: 0.5rem;

      .heading {
        font-style: normal;
        font-weight: 800;
        font-size: $heading-size;
        line-height: 29px;
        margin: 0;
      }

      .card__job {
        font-style: normal;
        font-weight: 500;
        font-size: $heading-size;
        line-height: 29px;
        margin: 0;
      }

      .stack {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.7rem;
        width: 100%;
        list-style: none;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;

        .stack__item {
          border-radius: 8px;
          color: #fff;
          background-color: $contrast-bg-color;
          flex: 1;
          text-align: center;
          padding: 0.4rem 0.75rem;
          text-transform: uppercase;
          font-family: 'Inter', 'sans-serif';
          font-style: normal;
          font-size: $heading-size;
          line-height: 24px;
        }
      }

      .card__description {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
      }
    }
  }
}

.card__outer:not(.card_secondary) {
  z-index: 1;
}

.card__outer:last-child {
  margin-left: -2%;
}

.card__outer:first-child {
  margin-right: -2%;
}

.card_secondary {
  filter: brightness(75%);
  width: 340px;
  height: 560px;
}
