.page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: radial-gradient(135.39% 135.39% at 50% 50%, #a41e2d 0%, rgba(78, 118, 153, 0) 100%);
  height: 100vh;
  padding: 5% 15% 5% 15%;
}

