.accordion__text,
.icon:before,
.icon:after {
  transition: all 0.2s ease-in-out;
}

.accordion__text {
  max-height: 800px;
  transform: translate(0, 0);
  margin-bottom: 40px;
}

.accordion__title {
  font-size: 32px;
  font-weight: 400;
  min-width: calc(100% - 80px);
  max-width: calc(100% - 80px);
}

.accordion {
  padding: 0;
  border-bottom: 3px solid #3ea37e;
  margin: 0;
}

.accordion__item {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 3px solid #3ea37e;
}

.icon {
  position: absolute;
  right: 27px;
  top: 39px;
}

.icon:before,
.icon:after {
  content: "";
  background-color: #3ea37e;
  min-width: 3px;
  max-width: 3px;
  min-height: 50px;
  max-height: 50px;
}

.icon:before {
  transform: rotate(45deg);
}

.icon:after {
  transform: rotate(-45deg);
}

.accordion__input {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.accordion__input:checked ~ .accordion__text {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
  margin-bottom: 15px;
}

.accordion__input:checked ~ .icon:before {
  transform: rotate(0);
}

.accordion__input:checked ~ .icon:after {
  transform: rotate(90deg);
}

@media screen and (max-width: 600px) {
    .accordion__title {
        font-size: 24px;
    }
}

@media screen and (max-width: 400px) {
    .accordion__title {
        font-size: 18px;
    }
}
